<div class="publications">
            <h2>Job market paper</h2>
            {% bibliography -f papers -q @*[type=jmp] %}
          </div>

<div class="publications">
            <h2>Work in progress</h2>
            {% bibliography -f papers -q @*[type=work_in_progress] %}
          </div>